

.search-container {
  text-align: center;
  font-family: Rubik, sans-serif;
  margin-top: 70px;
}

.search-form label{
  display: flex;
  flex-direction: column;
  padding: 15px;
  
}

.search-form input {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  
}

.search-button {
  width:250px;
  padding: 5px;
  font-family: Rubik, sans-serif;
  border: slategrey solid;
  border-radius: 10px;
  font-size: 18px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
 
}

.search-button:hover {
  background:#1DB954;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .search-img {
    display: none;
  }
  .search-header {
    display: none;
  }
  .search-container {
    margin-top: 0px;
  }
}